<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Abstack - Responsive Bootstrap 4 Admin Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

        <style>

            .form-control {
                font-weight: bolder;
                color: black;
            }

            label {
                
                font-weight: 500;
            }

        </style>

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

            
             <!-- Topbar -->
             <%- include ../partials/topbar.ejs %>
            
             <!-- ========== Left Sidebar ========== -->
             <%- include ../partials/left-sidebar.ejs %>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    
                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Abstack</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                            <li class="breadcrumb-item active">Starter</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Starter page</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="card-box">
                            <h4 class="header-title mb-4">Default Tabs</h4>

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#profile" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                        Character Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        Stats and Skills
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="#messages" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        Messages
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="home">
                                    <table class="tablesaw mb-0" data-tablesaw-mode="stack" style="display: inline-block;">
                                        <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Stat</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">- Base -</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">- Temp -</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">- Max -</th>
                                           
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Strength</td>
                                            <td><%= displayCharacter.strength %></td>
                                            <td><%= displayCharacter.temp_strength %></td>
                                            <td><%= displayCharacter.max_strength %></td>
                                        </tr>
                                        <tr>
                                            <td>Dexterity</td>
                                            <td><%= displayCharacter.dexterity %></td>
                                            <td><%= displayCharacter.temp_dexterity %></td>
                                            <td><%= displayCharacter.max_dexterity %></td>
                                        </tr>
                                        <tr>
                                            <td>Constitution</td>
                                            <td><%= displayCharacter.constitution %></td>
                                            <td><%= displayCharacter.temp_constitution %></td>
                                            <td><%= displayCharacter.max_constitution %></td>
                                        </tr>
                                        <tr>
                                            <td>Speed</td>
                                            <td><%= displayCharacter.speed %></td>
                                            <td><%= displayCharacter.temp_speed %></td>
                                            <td><%= displayCharacter.max_speed %></td>
                                        </tr>
                                        <tr>
                                            <td>Intelligence</td>
                                            <td><%= displayCharacter.intelligence %></td>
                                            <td><%= displayCharacter.temp_intelligence %></td>
                                            <td><%= displayCharacter.max_intelligence %></td>
                                        </tr>
                                        <tr>
                                            <td>Wisdom</td>
                                            <td><%= displayCharacter.wisdom %></td>
                                            <td><%= displayCharacter.temp_wisdom %></td>
                                            <td><%= displayCharacter.max_wisdom %></td>
                                        </tr>
                                        <tr>
                                            <td>Charisma</td>
                                            <td><%= displayCharacter.charisma %></td>
                                            <td><%= displayCharacter.temp_charisma %></td>
                                            <td><%= displayCharacter.max_charisma %></td>
                                        </tr>
                                        <tr>
                                            <td>Wit</td>
                                            <td><%= displayCharacter.wit %></td>
                                            <td><%= displayCharacter.temp_wit %></td>
                                            <td><%= displayCharacter.max_wit %></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    
                                    
                                    <table class="tablesaw mb-0" data-tablesaw-mode="stack" style="display: inline-block;">
                                        <thead>
                                        <tr>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Skill</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Base</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Bonus</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Current</th>
                                           
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Melee Weapons</td>
                                            <td><%= displayCharacter.melee_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.melee_skill %></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Ranged Weapons</td>
                                            <td><%= displayCharacter.ranged_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.ranged_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Martial</td>
                                            <td><%= displayCharacter.martial_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.martial_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Arcane</td>
                                            <td><%= displayCharacter.arcane_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.arcane_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Nature</td>
                                            <td><%= displayCharacter.nature_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.nature_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Religion</td>
                                            <td><%= displayCharacter.religion_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.religion_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Scholastics</td>
                                            <td><%= displayCharacter.scholastics_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.scholastics_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Social</td>
                                            <td><%= displayCharacter.social_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.social_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Athletics</td>
                                            <td><%= displayCharacter.athletics_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.athletics_skill %></td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Crafstmanship</td>
                                            <td><%= displayCharacter.craftsmanship_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.craftsmanship_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Medicine</td>
                                            <td><%= displayCharacter.medicine_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.medicine_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Perception</td>
                                            <td><%= displayCharacter.perception_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.perception_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Larceny</td>
                                            <td><%= displayCharacter.larceny_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.larceny_skill %></td>
                                        </tr>
                                        <tr>
                                            <td>Survival</td>
                                            <td><%= displayCharacter.survival_skill %></td>
                                            <td>0</td>
                                            <td><%= displayCharacter.survival_skill %></td>
                                        </tr>
                                      </tbody>
                                    </table>   
                                </div>
                                <div class="tab-pane show active" id="profile" >
                                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                    
                                    <div>
                                        <div id="vanity">

                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="hair">Race</label>
                                                    <input placeholder="Black" type="text" name="hair" id="hair" class="form-control" value="<%=displayCharacter.race%>" readonly/> 
                                                </div>
                                                <div class="col">
                                                    <label for="eyes">Class</label>
                                                    <input placeholder="Blue" type="text" name="Eyes" id="eyes" class="form-control" value="<%=displayCharacter.class%>" readonly/> 
                                                </div>
                                                <div class="col">
                                                    <label for="skin">Major Background</label>
                                                    <input placeholder="Pale" type="text" name="skin" id="skin" class="form-control" value="<%=displayCharacter.major_background%>" readonly/> 
                                                </div>
                                                <div class="col">
                                                    <label for="skin">Minor Background</label>
                                                    <input placeholder="Pale" type="text" name="skin" id="skin" class="form-control" value="<%=displayCharacter.minor_background%>" readonly/> 
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Character Name</label>
                                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="<%=displayCharacter.name%>" style="font-weight: bolder;">
                                            </div>

                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="hair">Hair</label>
                                                    <input placeholder="Black" type="text" name="hair" id="hair" class="form-control" value="<%=displayCharacter.hair%>"> 
                                                </div>
                                                <div class="col">
                                                    <label for="eyes">Eyes</label>
                                                    <input placeholder="Blue" type="text" name="Eyes" id="eyes" class="form-control" value="<%=displayCharacter.eyes%>"> 
                                                </div>
                                                <div class="col">
                                                    <label for="skin">Skin</label>
                                                    <input placeholder="Pale" type="text" name="skin" id="skin" class="form-control" value="<%=displayCharacter.skin%>"> 
                                                </div>
                                            </div>

                                            <label for="height">Height</label>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <input placeholder="6'" type="text" name="feet" id="feet" class="form-control" value="<%=displayCharacter.height%>"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="weight">Weight</label>
                                                <input type="number" name="weight" id="weight" class="form-control" placeholder="130" value="<%=displayCharacter.weight%>"> <label for="weight">lbs</label>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                    <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div> <!-- end container-fluid -->

                </div> <!-- end content -->

                

                <!-- Footer Start -->
                <%- include ../partials/footer.ejs %>



            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

        <%- include ../partials/right-sidebar.ejs %>

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="assets/js/app.min.js"></script>
        
    </body>
</html>